

.col{
  background-color: white;
  margin: 5px;
}
.col-4{
  background-color: white;
  margin: 5px;
}

.btn-group{
  width: 500px;
}

.search-champ{
	background-color: #f5f5f5;
  margin-top: 10px;
  margin-bottom: 5px;
  width: 350px;
}


#col1{
  background-color: white;
  
}
#btn-group1{
  margin-left: 570px;
}
#btn-group2{
  width: 350px;
  margin-bottom: 10px;
}
<!--이미지 아래에 스판설정 -->

.ul-group li {
  flex: 0 0 20%; /* 한 줄에 5개의 아이템을 나타내기 위해 크기를 조정합니다. */
  text-align: center;
  
}

.img_list{
  margin-left: 2px;
  margin-right: 5px;
}


.icon_img {
  display: block;
  margin-bottom: 5px;
}


.ul-group .name {
  display: block;
  font-size: 10px;
  text-align: left;
  
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ul-group{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	
}

<!--이미지 아래에 스판설정 끝-->

.bcolor{
	background-color: #f5f5f5;
}
body{
	background-color: #f5f5f5;;
}
.list_td{
	width:170px;
}
