

.col{
  background-color: white;
  margin: 5px;
}
.col-4{
  background-color: white;
  margin: 5px;
}

.btn-group{
  width: 500px;
}

.search-champ{
	background-color: #f5f5f5;
  margin-top: 10px;
  margin-bottom: 5px;
  width: 350px;
}
li{
  display: flex;
}

#col1{
  background-color: white;
  
}
#btn-group1{
  margin-left: 570px;
}
#btn-group2{
  width: 350px;
  margin-bottom: 10px;
}
.ul-group{
	padding: 0px;
}
.bcolor{
	background-color: #f5f5f5;
}
body{
	background-color: #f5f5f5;;
}
.list_td{
	width:130px;
}
