

.col{
  background-color: white;
  margin: 5px;
  padding: 0px;
}
.col-4{
  background-color: white;
  margin: 5px;
}

.btn-group{
  width: 500px;
}

.search-champ{
	background-color: #f5f5f5;
  margin-top: 10px;
  margin-bottom: 5px;
  width: 350px;
}


#col1{
  background-color: white;
  
}
#btn-group1{
  margin-left: 570px;
}
#btn-group2{
  width: 350px;
  margin-bottom: 10px;
}
<!--�̹��� �Ʒ��� ���Ǽ��� -->

.ul-group li {
  flex: 0 0 20%; /* �� �ٿ� 5���� �������� ��Ÿ���� ���� ũ�⸦ �����մϴ�. */
  text-align: center;
  
}

.img_list{
  margin-left: 2px;
  margin-right: 5px;
}


.icon_img {
  display: block;
  margin-bottom: 5px;
}


.ul-group .name {
  display: block;
  font-size: 10px;
  text-align: left;
  
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ul-group{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	
}



.bcolor{
	background-color: #f5f5f5;
}
body{
	background-color: #f5f5f5;;
}
.list_td{
	width:170px;
}
#head_table{
	margin-bottom: 0px;
	background-color: #f7f7f9;
}
