
.main-search-form{
	position: absolute;
	display: flex;
	flex-direction: column;

}
#wrapdiv{
  background-color: #828282;
}
#search-input{
	border-radius: 45px 0 0 45px;
}
#maindiv{
  display: block;
  width: 1080px;
  margin: 0 auto;
  /* border: 1px solid black; */
}

#m_logo{
  display: flex;
  justify-content: center;
  margin: 56px 0 46px;
  /* border: 1px solid black; */
}
fieldset{
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}

#searchdiv{
  display: flex;
  justify-content: center;
  width: 1080px;
  height: 124px;
  /* border: 1px solid black; */
  padding: 0 0 0 0 ;
  margin: 0 auto;
  margin-bottom: 100px;
  flex-direction: column;
  position: relative;
  align-items: center;
}
/* .db_search{
	position: absolute;
} */
.main-search{
  width: 800px;
  height: 60px;
  padding: 0 0 0 0;
}
.gosummonerinfo.main-btn{
  display:flex;
  height: 60px;
  width: 80px;
  padding: 0 0 0 0;
  overflow: hidden;
  	justify-content: center;
	align-items: center;
	align-content: center;
	border-radius: 0 45px 45px 0;
}

#lanediv{
  width: 1080px;
  height: auto;
  display: flex;
  margin-top: 24px;
  justify-content: space-between;
  flex-direction: row;

}
.www{
	height: 100px;
	width: 920px;
	border-radius: 48px ;
	justify-content: center;
	align-items: center;
	position: relative;
}

.m_lane{
  display: flex;
  width: 200px;
  justify-content: center;
  /* border: 1px solid black; */
  background-color: #413632;
  padding: 0 0 0 0;
  flex-direction: column;
}
.whc{
	color: white;
}
.brn:hover{
	color: brown;
}
#table_list{
  height: 40px;
}

#table_tier{
	border-left: 1px solid #dee2e6;
}
.tr_champ{
  height: auto;
}

#duodiv{
  display: flex;
  align-items: center;
  margin-top: 24px;
  justify-content: space-between;
  
}
.duolist-container{
	display: flex;
}
.duolist{
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(91, 91, 91);
  border-radius:  4px;
  width: 315px;
  min-height: 220px;
  padding: 24px 20px 15px;
  margin: 5px;
}

.img_c{
  width: 50px;
  height: 50px;
}
.col{
  width: 150px;
}

.duolist{
  width: 320px;
  height: 180px;
  display: flex;
  justify-content: center;
  /* border: 1px solid black; */
  background-color: white;
}

.line-info{
  text-align: center;
}
#ggg{
	height:28px;
	border-radius: 0 0 8px 0;
}

.champ_img{
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 48px;
  margin: 2px;
}

.top_val{
  display: flex;
  flex-direction: column;
}
.top3{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  margin-top: 10px;
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}


.c_name{
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  height: 54px;
}
.top3_name{
  border-right: 1px solid#dee2e6;
}

.c_tier{
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-db{
  width: 776px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #81ACFF;
  height: 80px;
  position: relative;
  margin-left: 24px;
  border-radius: 7px;
}

input:focus {outline:none;}

.s_summoner_box{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #81ACFF;
  width: 776px;
  height: 100px;
}

.summoner_icon_img{
  width: 92px;
  height: 92px;
  margin: 8px;
}

.summoner_icon{
  display: flex;
  width: 100px;
  justify-content: center;
  align-items: center;
}

.s_summoner_name{
  display: flex;
  width: 476px;
  justify-content: center;
  align-items: center;
}

.s_summoner_lv_tier{
  display: flex;
  width: 300px;
  justify-content: center;
  align-items: center;  
}

.main_paging{
  display: flex;
  width: 42px;
  height: 42px;
  justify-content: center;
  align-items: center;
}

.pageing_img{

  width: 42px;
  height: 42px;
  margin: 8px;
}

/* 듀오페이지 css */

.main-contents{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(91, 91, 91);
    border-radius:  4px;
    width: 330px;
    height: 200px;
    padding: 24px 20px 15px;
    background-color: #413632;
}
.time-text{
    display: flex;
    margin-bottom: 10px;
}
.blue-text{
    order: 0;
    margin-right: 6px;
    color: rgb(49, 142, 239);
    font-weight: 500;
    font-size: 11px;
}
.gray-text{
    order: 1;
    margin-right: 0px;
    color: rgb(153, 153, 153);
    font-weight: 500;
    font-size: 11px;
}
.title-text{
    display: flex;
    align-items: center;
    margin-bottom: 13px;
    color: aliceblue;

    font-weight: 700;
    font-size: 15px;
}
.p-tag{
    margin-bottom: 20px;
    max-height: unset;
    color: rgb(153, 153, 153);
    line-height: 18px;
    word-break: break-all;
    
    font-weight: 400;
    font-size: 13px;

    
}
.main-bottom{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: auto;
}
.user-id{
	color: aliceblue;
}
#wh{
	color: #413632;
}
.copy-box{
	border-radius: 8px;
}
a:hover {
  text-decoration: none;
}
footer{
	margin-top: 5%;
	background-color: #403F3C;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.foot-box{
	padding: 5px;
	margin: 20px;
	color: #ffff;
	font-size: 15px;
}
.bar{
	border-bottom: 1px solid #ffff;
}