

.col{
  background-color: white;
  margin: 5px;
}





.bcolor{
	background-color: #f5f5f5;
}
body{
	background-color: #f5f5f5;;
}

/* 스킬이미지 호버시 툴팁 */
.skill-container {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.tooltip {
  visibility: hidden;
  width: 120px;
  background-color: #000;
  color: #fff;
  
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  
  /* 꾸미기용 */
  top: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  width: 500px;
}
.skill-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
/*스펠 호버시 툴팁*/
.spell-container {
  position: relative;
  display: inline-block;
}

.spell_tooltip {
  visibility: hidden;
  width: 120px;
  background-color: #000;
  color: #fff;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  text-align: left;
  top: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  
  width: 200px;
}

.spell-container:hover .spell_tooltip {
  opacity: 1;
  visibility: visible;
}

/*상대챔프 이미지 왼쪽정렬*/
.s_img {
    text-align: left;
}

.div_info{
	text-align: center;
}
/*스펠 css  */



#spell1{
	margin-top: 5px;
	border-top: 1px solid #E2E2E2; /* 위쪽 선의 스타일과 색상을 설정하세요 */
 	border-bottom: 1px solid #E2E2E2; /* 아래쪽 선의 스타일과 색상을 설정하세요 */
	
}
#spell2{
	margin-top: 5px;
  	border-bottom: 1px solid #E2E2E2; /* 아래쪽 선의 스타일과 색상을 설정하세요 */
}

.spell-container{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 7px;
	
}
.spell_span{
	font-size: 15px;
	font-weight: bold;
}
.rate_div{
	margin-left: 15px;
	margin-right: 10px;
}
.winrate_div{
	margin-left: 10px;
}
.pick_rata_span{
	font-weight: bold;
}
.win_rate_span{
	color: #4171D6;
}
.win_rate_td{
	color: #4171D6;
}
.progress_title{
	font-weight: bold;
	color: darkgray;
}