#SUMMONER_PROFILE {
	text-align: center;
}

#info-t {
	border-top: 1px solid #E2E2E2;
	border-bottom: 1px solid #E2E2E2;
	border-right: 1px solid #E2E2E2;
	font-size: 18px;
	
}

#info-b {
	border-top: 1px solid #E2E2E2;
	border-bottom: 1px solid #E2E2E2;
	font-size: 20px;
	text-align: center;
}

.offer-list-write-box{
    overflow: scroll;
    
    padding: 0 17px;
    border-radius: 12px;
    box-shadow: 1px 1px 10px 0 rgba(72,75,108,.08);
    border: solid 1px #e3e9ed;
    background-color: #fff;
    box-sizing: border-box;
}

#box{
    padding: 12px 0 12px 30px;
    border-radius: 12px;
    box-shadow: 1px 1px 10px 0 rgba(72,75,108,.08);
    border: solid 1px #e3e9ed;
    background-color: #fff;
    box-sizing: border-box;
    
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -.8px;
    color: #303038;
    word-break: break-all;
}

#titles {
    display: inline;
    font-size: 25px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -.2px;
    color: #303038;
}
#duo-t2 {
	boder-bottom: 1px solid #E2E2E2;
}

.mt{
    margin-top: 20px;
}

label {
    display: inline-block;
    margin-bottom: 10px;
}