.raw-self-champion-icon {
    width: 48px;
}
.raw-self-item-item1 {
    width: 22px;
}
.raw-self-item-item2 {
    width: 22px;
}
.raw-self-item-item3 {
    width: 22px;
}
.raw-self-item-item4 {
    width: 22px;
}
.raw-self-item-item5 {
    width: 22px;
}
.raw-self-item-item6 {
    width: 22px;
}
.raw-self-item-trinket {
    width: 22px;
}
.raw-self-spell-spell1 {
    width: 22px;
}
.raw-self-spell-spell2 {
    width: 22px;
}