<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.base.personlol.dao.rank_dao"> 

	<select id="challengerinfo" resultType = "rank_dto">
		SELECT * FROM LOL_CH ORDER BY LEAGUEPOINTS DESC
	</select>

	<select id="grandmasterinfo" resultType = "rank_dto">
		SELECT * FROM LOL_GM ORDER BY LEAGUEPOINTS DESC
	</select>
	
	<select id="masterinfo" resultType = "rank_dto">
		SELECT * FROM LOL_MASTER ORDER BY LEAGUEPOINTS DESC
	</select>


</mapper>
