<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.base.personlol.dao.summoner_dao">
    
    <select id="getGameRecord" resultType="com.base.personlol.dto.summoner_rawdata_dto">
        SELECT game_id, participant_number, participant_name, champion_id, lane,
            game, champion, spell, skill, skilltree, rune, item, kda, gold, cs, damage, vision
        FROM RAWDATA
        WHERE game_id = #{game_id}
        ORDER BY participant_number
    </select>

    <select id="isSummonerNameExists" resultType="Integer">
        SELECT COUNT(*)
        FROM SUMMONER
        WHERE summoner_name = #{summoner_name}
    </select>

    <select id="getGameidsOnRecentGame" resultType="String">
        SELECT game_id
        FROM SUMMONER_RECENT_GAME
        WHERE summoner_name = #{summoner_name} AND ROWNUM &lt;= 20
        ORDER BY GAME_ID
    </select>

    <select id="getGameidsOnRawdata" resultType="String">
        SELECT game_id
        FROM RAWDATA
        WHERE participant_name = #{summoner_name} AND ROWNUM &lt;= 20
        ORDER BY GAME_ID
    </select>

    <delete id="deleteGameidsInRecentGame">
        DELETE FROM SUMMONER_RECENT_GAME
        WHERE summoner_name = #{summoner_name}
    </delete>

    <insert id="putGameidInRecentGame">
        INSERT INTO SUMMONER_RECENT_GAME VALUES (
            #{summoner_name}, #{game_id})
    </insert>

	<select id="getsummonerinfo" resultType="summonerinfodto">
		SELECT s.SUMMONER_LEVEL,
		s.SUMMONER_TIER, s.SUMMONER_PROFILE, s.SUMMONER_LOSSES,
		s.SUMMONER_WINS
		FROM SUMMONER s
		WHERE s.SUMMONER_NAME = #{summoner_name}
	</select>

	<select id="getChampinfo" resultType="java.util.Map">
		SELECT C.CHAMP_NAME,
		C.CHAMP_ICON, RD.KDA
		FROM RAWDATA RD, CHAMPDATA C
		WHERE RD.GAME_ID IN (
		SELECT GAME_ID
		FROM RAWDATA
		WHERE PARTICIPANT_PUUID = (
		SELECT
		SUMMONER_PUUID
		FROM SUMMONER
		WHERE SUMMONER_NAME = #{summoner_name}
		)
		)
		AND RD.PARTICIPANT_NAME = #{summoner_name} AND RD.CHAMPION_ID =
		C.CHAMP_ID
	</select>

	<select id="getMaininfo" resultType="java.util.Map">
		SELECT * FROM RAWDATA 
		JOIN CHAMPDATA c ON CHAMP_ID = C.CHAMP_ID 
		WHERE PARTICIPANT_NAME = #{summoner_name}
		FETCH FIRST 10 ROWS ONLY
	</select>
	

	  <select id="go_search" resultType="mainSummoner">
	    <![CDATA[
	    SELECT *
	    FROM (
	        SELECT s.SUMMONER_NAME, s.SUMMONER_LEVEL, s.SUMMONER_TIER, s.SUMMONER_PROFILE
	        FROM SUMMONER s
	        WHERE SUMMONER_NAME LIKE '%' || #{summoner_name} || '%'
	        ORDER BY ROWNUM
	    )
	    WHERE ROWNUM <= 3
	    ]]>
	  </select>
	  
</mapper>
