<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.base.personlol.dao.Example_dao">

	<select id="testDB" resultType="com.base.personlol.dto.Example_dto">
		select #{num1} + #{num2} + #{num3} ex1 from dual
	</select>
	

	<insert id="testDB3" parameterType="member">
		INSERT INTO TEST_MEMBER 
		VALUES(#{userid},#{userpw},#{account},#{usercode})
	</insert>
	
	
	<select id="cheackID" resultType="Int">
		select count(*) from TEST_MEMBER where userid = #{userid}
	</select>
		
		
	<select id="cheackCode" resultType ="Int">
		select count(*) from TEST_MEMBER where usercode = #{usercode}
	</select>
	
	<select id="login" resultType="String">
		select TEST_MEMBER.userid from TEST_MEMBER where userid = #{userid} and userpw = #{userpw}
	</select>
	
	
	<select id="idfind" resultType="String">
		select TEST_MEMBER.userid from TEST_MEMBER where account = #{account} and usercode = #{usercode}
	</select>
	
	<select id="pwfind" resultType="String">
		select count(*) from TEST_MEMBER where userid = #{userid} and usercode = #{usercode}
	</select>
	
	
	<select id="checknewpw" resultType="Int">
		select count(*) from TEST_MEMBER where usercode = #{usercode}
	</select>
		
	<update id="changepw" parameterType="java.util.Map">
		UPDATE TEST_MEMBER SET userpw =#{userpw} WHERE usercode = #{usercode}
	</update>
	
	<update id="newcode" parameterType="java.util.Map">
		UPDATE TEST_MEMBER SET usercode = #{usercode} WHERE userid = #{userid}
	</update>
	
	<delete id="deletemember" parameterType="java.util.Map">
  		DELETE FROM Test_member WHERE userid = #{userid}
	</delete>
	
</mapper>